body{
	background-color: #333333;
}

h1,h2,p{
	text-align:center;
	color: #dddddd
}

li {
	padding: 5px;
	margin:2px;
	background-color: grey;
	width:auto;
	text-align: center;
	font-size: 200%;
	border-radius: 5px;
}
.fileinput{
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.fileinput > input{
	margin: 0 auto;
	margin-left:auto;
	margin-right:auto;
}

.playerblock {
	margin-left: auto;
	margin-right:auto;
	height:10%;
	width:50%;
}

.users{
	text-align:center;
}

.users img{
	height:100%;
}

.users > ol{
	list-style-type: :none;
}

.users > ol > li{
	height:auto;
	width:50%;
}

.users .grandmaster{
	background-color: #dddddd;
}

.users .master{
	background-color: #dddddd;
}

.users .diamond{
	background-color: #dddddd;
}

.users .platinum{
	background-color: #dddddd;
}

.users .gold{
	background-color: #dddddd;
}

.users .silver{
	background-color: #dddddd;
}

.users .bronze{
	background-color: #dddddd;
}

.users .cangroup{
	background-color: yellow;
}

.users .active{
	background-color: green;
}

.divider{
	height:10px;
}
